<div class="row">
    <!-- Left Column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Donate</h2>
          <p>Would you like to make a donation?</p>
          <button mat-raised-button color="primary">Donate</button>
        </div>
      </div>
    </div>
    <nav>
      <div class="topnav">
      <ul class="nav-bar">
      <!-- Navigation menu goes here -->
      <li><a routerLink="/mainpage"> Home </a></li> 
      <li><a routerLink="/reallogin"> Login </a></li>
    </ul>
      </div>
    </nav>
    <!-- Right Column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Receive a Donation</h2>
          <p>Would you like to sign up to receive a donation?</p>
          <a href="/register" class="Sign-Up">Sign up</a>
          <a href="/reallogin">Sign in</a>
        </div>
      </div>
    </div>
  </div>
  